.cpl-1 {padding-left: 1px !important;}
.cpl-2 {padding-left: 2px !important;}
.cpl-3 {padding-left: 3px !important;}
.cpl-4 {padding-left: 4px !important;}
.cpl-5 {padding-left: 5px !important;}
.cpl-6 {padding-left: 6px !important;}
.cpl-7 {padding-left: 7px !important;}
.cpl-8 {padding-left: 8px !important;} 
.cpl-9 {padding-left: 9px !important;}
.cpl-10 {padding-left: 10px !important;}
.cpl-11 {padding-left: 11px !important;}
.cpl-12 {padding-left: 12px !important;}
.cpl-13 {padding-left: 13px !important;}
.cpl-14 {padding-left: 14px !important;}
.cpl-15 {padding-left: 15px !important;}
.cpl-16 {padding-left: 16px !important;}
.cpl-17 {padding-left: 17px !important;}
.cpl-18 {padding-left: 18px !important;}
.cpl-19 {padding-left: 19px !important;}
.cpl-20 {padding-left: 20px !important;}
.cpl-21 {padding-left: 21px !important;}
.cpl-22 {padding-left: 22px !important;}
.cpl-23 {padding-left: 23px !important;}
.cpl-24 {padding-left: 24px !important;}
.cpl-25 {padding-left: 25px !important;}
.cpl-26 {padding-left: 26px !important;}
.cpl-27 {padding-left: 27px !important;}
.cpl-28 {padding-left: 28px !important;}
.cpl-29 {padding-left: 29px !important;}
.cpl-30 {padding-left: 30px !important;}
.cpl-35 {padding-left: 35px !important;}
.cpl-40 {padding-left: 40px !important;}
.cpl-45 {padding-left: 45px !important;}
.cpl-50 {padding-left: 50px !important;}
.cpl-55 {padding-left: 55px !important;}
.cpl-60 {padding-left: 60px !important;}
.cpl-70 {padding-left: 70px !important;}
.cpl-80 {padding-left: 80px !important;}
.cpl-90 {padding-left: 90px !important;}
.cpl-100 {padding-left: 100px !important;}

.cpr-1 {padding-right: 1px !important;}
.cpr-2 {padding-right: 2px !important;}
.cpr-3 {padding-right: 3px !important;}
.cpr-4 {padding-right: 4px !important;}
.cpr-5 {padding-right: 5px !important;}
.cpr-6 {padding-right: 6px !important;}
.cpr-7 {padding-right: 7px !important;}
.cpr-8 {padding-right: 8px !important;}
.cpr-9 {padding-right: 9px !important;}
.cpr-10 {padding-right: 10px !important;}
.cpr-11 {padding-right: 11px !important;}
.cpr-12 {padding-right: 12px !important;}
.cpr-13 {padding-right: 13px !important;}
.cpr-14 {padding-right: 14px !important;}
.cpr-15 {padding-right: 15px !important;}
.cpr-16 {padding-right: 16px !important;}
.cpr-17 {padding-right: 17px !important;}
.cpr-18 {padding-right: 18px !important;}
.cpr-19 {padding-right: 19px !important;}
.cpr-20 {padding-right: 20px !important;}
.cpr-21 {padding-right: 21px !important;}
.cpr-22 {padding-right: 22px !important;}
.cpr-23 {padding-right: 23px !important;}
.cpr-24 {padding-right: 24px !important;}
.cpr-25 {padding-right: 25px !important;}
.cpr-26 {padding-right: 26px !important;}
.cpr-27 {padding-right: 27px !important;}
.cpr-28 {padding-right: 28px !important;}
.cpr-29 {padding-right: 29px !important;}
.cpr-30 {padding-right: 30px !important;}
.cpr-35 {padding-right: 35px !important;}
.cpr-40 {padding-right: 40px !important;}
.cpr-45 {padding-right: 45px !important;}
.cpr-50 {padding-right: 50px !important;}
.cpr-55 {padding-right: 55px !important;}
.cpr-60 {padding-right: 60px !important;}
.cpr-70 {padding-right: 70px !important;}
.cpr-80 {padding-right: 80px !important;}
.cpr-90 {padding-right: 90px !important;}
.cpr-100 {padding-right: 100px !important;}

.cpb-1 {padding-bottom: 1px !important;}
.cpb-2 {padding-bottom: 2px !important;}
.cpb-3 {padding-bottom: 3px !important;}
.cpb-4 {padding-bottom: 4px !important;}
.cpb-5 {padding-bottom: 5px !important;}
.cpb-6 {padding-bottom: 6px !important;}
.cpb-7 {padding-bottom: 7px !important;}
.cpb-8 {padding-bottom: 8px !important;}
.cpb-9 {padding-bottom: 9px !important;}
.cpb-10 {padding-bottom: 10px !important;}
.cpb-11 {padding-bottom: 11px !important;}
.cpb-12 {padding-bottom: 12px !important;}
.cpb-13 {padding-bottom: 13px !important;}
.cpb-14 {padding-bottom: 14px !important;}
.cpb-15 {padding-bottom: 15px !important;}
.cpb-16 {padding-bottom: 16px !important;}
.cpb-17 {padding-bottom: 17px !important;}
.cpb-18 {padding-bottom: 18px !important;}
.cpb-19 {padding-bottom: 19px !important;}
.cpb-20 {padding-bottom: 20px !important;}
.cpb-21 {padding-bottom: 21px !important;}
.cpb-22 {padding-bottom: 22px !important;}
.cpb-23 {padding-bottom: 23px !important;}
.cpb-24 {padding-bottom: 24px !important;}
.cpb-25 {padding-bottom: 25px !important;}
.cpb-26 {padding-bottom: 26px !important;}
.cpb-27 {padding-bottom: 27px !important;}
.cpb-28 {padding-bottom: 28px !important;}
.cpb-29 {padding-bottom: 29px !important;}
.cpb-30 {padding-bottom: 30px !important;}
.cpb-35 {padding-bottom: 35px !important;}
.cpb-40 {padding-bottom: 40px !important;}
.cpb-45 {padding-bottom: 45px !important;}
.cpb-50 {padding-bottom: 50px !important;}
.cpb-55 {padding-bottom: 55px !important;}
.cpb-60 {padding-bottom: 60px !important;}
.cpb-70 {padding-bottom: 70px !important;}
.cpb-80 {padding-bottom: 80px !important;}
.cpb-90 {padding-bottom: 90px !important;}
.cpb-100 {padding-bottom: 100px !important;}

.cpt-1 {padding-top: 1px !important;}
.cpt-2 {padding-top: 2px !important;}
.cpt-3 {padding-top: 3px !important;}
.cpt-4 {padding-top: 4px !important;}
.cpt-5 {padding-top: 5px !important;}
.cpt-6 {padding-top: 6px !important;}
.cpt-7 {padding-top: 7px !important;}
.cpt-8 {padding-top: 8px !important;}
.cpt-9 {padding-top: 9px !important;}
.cpt-10 {padding-top: 10px !important;}
.cpt-11 {padding-top: 11px !important;}
.cpt-12 {padding-top: 12px !important;}
.cpt-13 {padding-top: 13px !important;}
.cpt-14 {padding-top: 14px !important;}
.cpt-15 {padding-top: 15px !important;}
.cpt-16 {padding-top: 16px !important;}
.cpt-17 {padding-top: 17px !important;}
.cpt-18 {padding-top: 18px !important;}
.cpt-19 {padding-top: 19px !important;}
.cpt-20 {padding-top: 20px !important;}
.cpt-21 {padding-top: 21px !important;}
.cpt-22 {padding-top: 22px !important;}
.cpt-23 {padding-top: 23px !important;}
.cpt-24 {padding-top: 24px !important;}
.cpt-25 {padding-top: 25px !important;}
.cpt-26 {padding-top: 26px !important;}
.cpt-27 {padding-top: 27px !important;}
.cpt-28 {padding-top: 28px !important;}
.cpt-29 {padding-top: 29px !important;}
.cpt-30 {padding-top: 30px !important;}
.cpt-35 {padding-top: 35px !important;}
.cpt-40 {padding-top: 40px !important;}
.cpt-45 {padding-top: 45px !important;}
.cpt-50 {padding-top: 50px !important;}
.cpt-55 {padding-top: 55px !important;}
.cpt-60 {padding-top: 60px !important;}
.cpt-70 {padding-top: 70px !important;}
.cpt-80 {padding-top: 80px !important;}
.cpt-90 {padding-top: 90px !important;}
.cpt-100 {padding-top: 100px !important;}

.cml-1 {margin-left: 1px !important;}
.cml-2 {margin-left: 2px !important;}
.cml-3 {margin-left: 3px !important;}
.cml-4 {margin-left: 4px !important;}
.cml-5 {margin-left: 5px !important;}
.cml-6 {margin-left: 6px !important;}
.cml-7 {margin-left: 7px !important;}
.cml-8 {margin-left: 8px !important;}
.cml-9 {margin-left: 9px !important;}
.cml-10 {margin-left: 10px !important;}
.cml-11 {margin-left: 11px !important;}
.cml-12 {margin-left: 12px !important;}
.cml-13 {margin-left: 13px !important;}
.cml-14 {margin-left: 14px !important;}
.cml-15 {margin-left: 15px !important;}
.cml-16 {margin-left: 16px !important;}
.cml-17 {margin-left: 17px !important;}
.cml-18 {margin-left: 18px !important;}
.cml-19 {margin-left: 19px !important;}
.cml-20 {margin-left: 20px !important;}
.cml-21 {margin-left: 21px !important;}
.cml-22 {margin-left: 22px !important;}
.cml-23 {margin-left: 23px !important;}
.cml-24 {margin-left: 24px !important;}
.cml-25 {margin-left: 25px !important;}
.cml-26 {margin-left: 26px !important;}
.cml-27 {margin-left: 27px !important;}
.cml-28 {margin-left: 28px !important;}
.cml-29 {margin-left: 29px !important;}
.cml-30 {margin-left: 30px !important;}
.cml-35 {margin-left: 35px !important;}
.cml-40 {margin-left: 40px !important;}
.cml-45 {margin-left: 45px !important;}
.cml-50 {margin-left: 50px !important;}
.cml-55 {margin-left: 55px !important;}
.cml-60 {margin-left: 60px !important;}
.cml-70 {margin-left: 70px !important;}
.cml-80 {margin-left: 80px !important;}
.cml-90 {margin-left: 90px !important;}
.cml-100 {margin-left: 100px !important;}

.cmr-1 {margin-right: 1px !important;}
.cmr-2 {margin-right: 2px !important;}
.cmr-3 {margin-right: 3px !important;}
.cmr-4 {margin-right: 4px !important;}
.cmr-5 {margin-right: 5px !important;}
.cmr-6 {margin-right: 6px !important;}
.cmr-7 {margin-right: 7px !important;}
.cmr-8 {margin-right: 8px !important;}
.cmr-9 {margin-right: 9px !important;}
.cmr-10 {margin-right: 10px !important;}
.cmr-11 {margin-right: 11px !important;}
.cmr-12 {margin-right: 12px !important;}
.cmr-13 {margin-right: 13px !important;}
.cmr-14 {margin-right: 14px !important;}
.cmr-15 {margin-right: 15px !important;}
.cmr-16 {margin-right: 16px !important;}
.cmr-17 {margin-right: 17px !important;}
.cmr-18 {margin-right: 18px !important;}
.cmr-19 {margin-right: 19px !important;}
.cmr-20 {margin-right: 20px !important;}
.cmr-21 {margin-right: 21px !important;}
.cmr-22 {margin-right: 22px !important;}
.cmr-23 {margin-right: 23px !important;}
.cmr-24 {margin-right: 24px !important;}
.cmr-25 {margin-right: 25px !important;}
.cmr-26 {margin-right: 26px !important;}
.cmr-27 {margin-right: 27px !important;}
.cmr-28 {margin-right: 28px !important;}
.cmr-29 {margin-right: 29px !important;}
.cmr-30 {margin-right: 30px !important;}
.cmr-35 {margin-right: 35px !important;}
.cmr-40 {margin-right: 40px !important;}
.cmr-45 {margin-right: 45px !important;}
.cmr-50 {margin-right: 50px !important;}
.cmr-55 {margin-right: 55px !important;}
.cmr-60 {margin-right: 60px !important;}
.cmr-70 {margin-right: 70px !important;}
.cmr-80 {margin-right: 80px !important;}
.cmr-90 {margin-right: 90px !important;}
.cmr-100 {margin-right: 100px !important;}

.cmb-1 {margin-bottom: 1px !important;}
.cmb-2 {margin-bottom: 2px !important;}
.cmb-3 {margin-bottom: 3px !important;}
.cmb-4 {margin-bottom: 4px !important;}
.cmb-5 {margin-bottom: 5px !important;}
.cmb-6 {margin-bottom: 6px !important;}
.cmb-7 {margin-bottom: 7px !important;}
.cmb-8 {margin-bottom: 8px !important;}
.cmb-9 {margin-bottom: 9px !important;}
.cmb-10 {margin-bottom: 10px !important;}
.cmb-11 {margin-bottom: 11px !important;}
.cmb-12 {margin-bottom: 12px !important;}
.cmb-13 {margin-bottom: 13px !important;}
.cmb-14 {margin-bottom: 14px !important;}
.cmb-15 {margin-bottom: 15px !important;}
.cmb-16 {margin-bottom: 16px !important;}
.cmb-17 {margin-bottom: 17px !important;}
.cmb-18 {margin-bottom: 18px !important;}
.cmb-19 {margin-bottom: 19px !important;}
.cmb-20 {margin-bottom: 20px !important;}
.cmb-21 {margin-bottom: 21px !important;}
.cmb-22 {margin-bottom: 22px !important;}
.cmb-23 {margin-bottom: 23px !important;}
.cmb-24 {margin-bottom: 24px !important;}
.cmb-25 {margin-bottom: 25px !important;}
.cmb-26 {margin-bottom: 26px !important;}
.cmb-27 {margin-bottom: 27px !important;}
.cmb-28 {margin-bottom: 28px !important;}
.cmb-29 {margin-bottom: 29px !important;}
.cmb-30 {margin-bottom: 30px !important;}
.cmb-35 {margin-bottom: 35px !important;}
.cmb-40 {margin-bottom: 40px !important;}
.cmb-45 {margin-bottom: 45px !important;}
.cmb-50 {margin-bottom: 50px !important;}
.cmb-55 {margin-bottom: 55px !important;}
.cmb-60 {margin-bottom: 60px !important;}
.cmb-70 {margin-bottom: 70px !important;}
.cmb-80 {margin-bottom: 80px !important;}
.cmb-90 {margin-bottom: 90px !important;}
.cmb-100 {margin-bottom: 100px !important;}

.cmt-1 {margin-top: 1px !important;}
.cmt-2 {margin-top: 2px !important;}
.cmt-3 {margin-top: 3px !important;}
.cmt-4 {margin-top: 4px !important;}
.cmt-5 {margin-top: 5px !important;}
.cmt-6 {margin-top: 6px !important;}
.cmt-7 {margin-top: 7px !important;}
.cmt-8 {margin-top: 8px !important;}
.cmt-9 {margin-top: 9px !important;}
.cmt-10 {margin-top: 10px !important;}
.cmt-11 {margin-top: 11px !important;}
.cmt-12 {margin-top: 12px !important;}
.cmt-13 {margin-top: 13px !important;}
.cmt-14 {margin-top: 14px !important;}
.cmt-15 {margin-top: 15px !important;}
.cmt-16 {margin-top: 16px !important;}
.cmt-17 {margin-top: 17px !important;}
.cmt-18 {margin-top: 18px !important;}
.cmt-19 {margin-top: 19px !important;}
.cmt-20 {margin-top: 20px !important;}
.cmt-21 {margin-top: 21px !important;}
.cmt-22 {margin-top: 22px !important;}
.cmt-23 {margin-top: 23px !important;}
.cmt-24 {margin-top: 24px !important;}
.cmt-25 {margin-top: 25px !important;}
.cmt-26 {margin-top: 26px !important;}
.cmt-27 {margin-top: 27px !important;}
.cmt-28 {margin-top: 28px !important;}
.cmt-29 {margin-top: 29px !important;}
.cmt-30 {margin-top: 30px !important;}
.cmt-35 {margin-top: 35px !important;}
.cmt-40 {margin-top: 40px !important;}
.cmt-45 {margin-top: 45px !important;}
.cmt-50 {margin-top: 50px !important;}
.cmt-55 {margin-top: 55px !important;}
.cmt-60 {margin-top: 60px !important;}
.cmt-70 {margin-top: 70px !important;}
.cmt-80 {margin-top: 80px !important;}
.cmt-90 {margin-top: 90px !important;}
.cmt-100 {margin-top: 100px !important;}

.ch-1 {height: 1px !important;}
.ch-2 {height: 2px !important;}
.ch-3 {height: 3px !important;}
.ch-4 {height: 4px !important;}
.ch-5 {height: 5px !important;}
.ch-6 {height: 6px !important;}
.ch-7 {height: 7px !important;}
.ch-8 {height: 8px !important;}
.ch-9 {height: 9px !important;}
.ch-10 {height: 10px !important;}
.ch-11 {height: 11px !important;}
.ch-12 {height: 12px !important;}
.ch-13 {height: 13px !important;}
.ch-14 {height: 14px !important;}
.ch-15 {height: 15px !important;}
.ch-16 {height: 16px !important;}
.ch-17 {height: 17px !important;}
.ch-18 {height: 18px !important;}
.ch-19 {height: 19px !important;}
.ch-20 {height: 20px !important;}
.ch-21 {height: 21px !important;}
.ch-22 {height: 22px !important;}
.ch-23 {height: 23px !important;}
.ch-24 {height: 24px !important;}
.ch-25 {height: 25px !important;}
.ch-26 {height: 26px !important;}
.ch-27 {height: 27px !important;}
.ch-28 {height: 28px !important;}
.ch-29 {height: 29px !important;}
.ch-30 {height: 30px !important;}
.ch-35 {height: 35px !important;}
.ch-40 {height: 40px !important;}
.ch-45 {height: 45px !important;}
.ch-50 {height: 50px !important;}
.ch-55 {height: 55px !important;}
.ch-60 {height: 60px !important;}
.ch-70 {height: 70px !important;}
.ch-80 {height: 80px !important;}
.ch-90 {height: 90px !important;}
.ch-100 {height: 100px !important;}
.ch-110 {height: 110px !important;}

.cw-1 {width: 1%!important;}
.cw-2 {width: 2%!important;}
.cw-3 {width: 3%!important;}
.cw-4 {width: 4%!important;}
.cw-5 {width: 5%!important;}
.cw-6 {width: 6%!important;}
.cw-7 {width: 7%!important;}
.cw-8 {width: 8%!important;}
.cw-9 {width: 9%!important;}
.cw-10 {width: 10%!important;}
.cw-11 {width: 11%!important;}
.cw-12 {width: 12%!important;}
.cw-13 {width: 13%!important;}
.cw-14 {width: 14%!important;}
.cw-15 {width: 15%!important;}
.cw-16 {width: 16%!important;}
.cw-17 {width: 17%!important;}
.cw-18 {width: 18%!important;}
.cw-19 {width: 19%!important;}
.cw-20 {width: 20%!important;}
.cw-25 {width: 25%!important;}
.cw-30 {width: 30%!important;}
.cw-30 {width: 30%!important;}
.cw-31 {width: 31%!important;}
.cw-32 {width: 32%!important;}
.cw-33 {width: 33%!important;}
.cw-34 {width: 34%!important;}
.cw-35 {width: 35%!important;}
.cw-36 {width: 36%!important;}
.cw-37 {width: 37%!important;}
.cw-38 {width: 38%!important;}
.cw-39 {width: 39%!important;}
.cw-40 {width: 40%!important;}
.cw-45 {width: 45%!important;}
.cw-50 {width: 50%!important;}
.cw-55 {width: 55%!important;}
.cw-60 {width: 60%!important;}
.cw-65 {width: 65%!important;}
.cw-70 {width: 70%!important;}
.cw-75 {width: 75%!important;}
.cw-80 {width: 80%!important;}
.cw-85 {width: 85%!important;}
.cw-90 {width: 90%!important;}
.cw-95 {width: 95%!important;}
.cw-100 {width: 100%!important;}

.cwm-1 {max-width: 1%!important;}
.cwm-2 {max-width: 2%!important;}
.cwm-3 {max-width: 3%!important;}
.cwm-4 {max-width: 4%!important;}
.cwm-5 {max-width: 5%!important;}
.cwm-6 {max-width: 6%!important;}
.cwm-7 {max-width: 7%!important;}
.cwm-8 {max-width: 8%!important;}
.cwm-9 {max-width: 9%!important;}
.cwm-10 {max-width: 10%!important;}
.cwm-11 {max-width: 11%!important;}
.cwm-12 {max-width: 12%!important;}
.cwm-13 {max-width: 13%!important;}
.cwm-14 {max-width: 14%!important;}
.cwm-15 {max-width: 15%!important;}
.cwm-16 {max-width: 16%!important;}
.cwm-17 {max-width: 17%!important;}
.cwm-18 {max-width: 18%!important;}
.cwm-19 {max-width: 19%!important;}
.cwm-20 {max-width: 20%!important;}
.cwm-25 {max-width: 25%!important;}
.cwm-30 {max-width: 30%!important;}
.cwm-35 {max-width: 35%!important;}
.cwm-40 {max-width: 40%!important;}
.cwm-45 {max-width: 45%!important;}
.cwm-50 {max-width: 50%!important;}
.cwm-55 {max-width: 55%!important;}
.cwm-60 {max-width: 60%!important;}
.cwm-65 {max-width: 65%!important;}
.cwm-70 {max-width: 70%!important;}
.cwm-75 {max-width: 75%!important;}
.cwm-80 {max-width: 80%!important;}
.cwm-85 {max-width: 85%!important;}
.cwm-90 {max-width: 90%!important;}
.cwm-95 {max-width: 95%!important;}
.cwm-100 {max-width: 100%!important;}

.cwmm-auto {min-width: auto!important;}
.cwmm-1 {min-width: 1%!important;}
.cwmm-2 {min-width: 2%!important;}
.cwmm-3 {min-width: 3%!important;}
.cwmm-4 {min-width: 4%!important;}
.cwmm-5 {min-width: 5%!important;}
.cwmm-6 {min-width: 6%!important;}
.cwmm-7 {min-width: 7%!important;}
.cwmm-8 {min-width: 8%!important;}
.cwmm-9 {min-width: 9%!important;}
.cwmm-10 {min-width: 10%!important;}
.cwmm-11 {min-width: 11%!important;}
.cwmm-12 {min-width: 12%!important;}
.cwmm-13 {min-width: 13%!important;}
.cwmm-14 {min-width: 14%!important;}
.cwmm-15 {min-width: 15%!important;}
.cwmm-16 {min-width: 16%!important;}
.cwmm-17 {min-width: 17%!important;}
.cwmm-18 {min-width: 18%!important;}
.cwmm-19 {min-width: 19%!important;}
.cwmm-20 {min-width: 20%!important;}
.cwmm-25 {min-width: 25%!important;}
.cwmm-30 {min-width: 30%!important;}
.cwmm-35 {min-width: 35%!important;}
.cwmm-40 {min-width: 40%!important;}
.cwmm-45 {min-width: 45%!important;}
.cwmm-50 {min-width: 50%!important;}
.cwmm-55 {min-width: 55%!important;}
.cwmm-60 {min-width: 60%!important;}
.cwmm-65 {min-width: 65%!important;}
.cwmm-70 {min-width: 70%!important;}
.cwmm-75 {min-width: 75%!important;}
.cwmm-80 {min-width: 80%!important;}
.cwmm-85 {min-width: 85%!important;}
.cwmm-90 {min-width: 90%!important;}
.cwmm-95 {min-width: 95%!important;}
.cwmm-100 {min-width: 100%!important;}


.size-10 {font-size: 10px!important;line-height: 10px;}
.size-11 {font-size: 11px!important;line-height: 11px;}
.size-12 {font-size: 13px!important;line-height: 12px;}
.size-13 {font-size: 14px!important;line-height: 13px;}
.size-14 {font-size: 14px!important;line-height: 14px;}
.size-16 {font-size: 16px!important;line-height: 16px;}
.size-18 {font-size: 18px!important;line-height: 18px;}
.size-20 {font-size: 20px!important;line-height: 20px;}
.size-22 {font-size: 22px!important;line-height: 22px;}
.size-30 {font-size: 30px!important;line-height: 35px;}
.size-35 {font-size: 35px!important;line-height: 36px;}
.size-36 {font-size: 36px!important;line-height: 36px;}
.size-40 {font-size: 40px!important;line-height: 40px;}
.size-50 {font-size: 50px!important;line-height: 50px;}
.size-60 {font-size: 60px!important;line-height: 60px;}